!
! Physical Interfaces
{% if netbox_config_context.interfaces is defined %}
{% for interface in netbox_config_context.interfaces %}
interface {{ interface.name }}
   {% if interface.description is defined %}
   description {{ interface.description }}
   {% endif %}
   {% if interface.enabled == false %}
   shutdown
   {% else %}
   no shutdown
   {% endif %}
   {% if interface.mode == 'access' %}
   switchport mode access
   switchport access vlan {{ interface.vlan }}
   {% elif interface.mode == 'trunk' %}
   switchport mode trunk
   switchport trunk allowed vlan {{ interface.allowed_vlans | join(',') }}
   {% elif interface.mode == 'routed' %}
   no switchport
   ip address {{ interface.ip_address }}
   {% endif %}
!
{% endfor %}
{% endif %}